:root {
    --accent-color: #2196F3; 
    --primery-text-color:#212121;
    --second-text-color: #757575;
}


body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: #FFFFFF;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

/*logo*/
.logo-blue {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    list-style: none;
    text-decoration: none;
}
.logo-black {
    color: black;
}
.logo-white {
    color: #FFFFFF;
}

/*header*/
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;

}

.header-link:hover, .header-link:focus {
    color:var(--accent-color);
}

.link{
    text-decoration: none;
}

.contacts-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--second-text-color);
}

.contacts-header:hover, .contacts-header:focus{
    color:var(--accent-color);
}

.nav-list {
    list-style: none;
    text-decoration: none;
}
.nav-list:hover, .nav-list:focus {
    color: var(--accent-color);
    list-style: none;
    text-decoration: none;
}

/* ------footer---------- */

.footer {
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
    background: #2F303A;
}

.footer-adress {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-adress:hover, .footer-adress:focus {
    color:var(--accent-color);
}

.footer-contacts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;  
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover, .footer-contacts:focus {
    color:var(--accent-color);
}

/*--------------------main page----------------------*/
.hero {
    background: #2F303A;
    margin-bottom: 94px;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-button {
    font-family: inherit;
    border-radius: 4px;
    background-color:F5F4FA;
    color: #212121; 
    cursor: pointer;
    padding: 10px 32px;
    border: 0;
}
.hero-button:hover, .hero-button:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}

.special-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.special-text {
    font-family: inherit;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color); 
}

/*----specialization--------*/
.specialization-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

/*----team-------*/

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-position {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/*-------------------portfolio--------------------*/

.button-filter {
    font-family: inherit;
    background-color:F5F4FA;
    color: #212121;
    cursor: pointer;
    border-radius: 4px;
    display: inline;
    border: 0;
}
.button-filter:hover, .button-filter:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color:var(--second-text-color);
}